* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  place-items: end center;
  height: 100%;
  margin: 0;
  font-family: system-ui;
  background: hsl(40 20% 90%);
  overflow: auto;
}

canvas.text {
  display: block;
  margin-inline: auto;
  width: calc(100% - 8em);
  max-width: 48em;
  background: white;
  border-radius: 1px;
  box-shadow: 0 1px 4px #0001;
  image-rendering: pixelated;
}
