* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  place-items: end center;
  height: 100%;
  margin: 0;
  font-family: system-ui;
  background: hsl(40 20% 90%);
  overflow: auto;
}

section {
  width: 100%;
  max-width: 72em;
  padding: 1.5em 0.5em;
  opacity: 0;
}

canvas.text {
  display: block;
  margin-inline: auto;
  width: calc(100% - 8em);
  background: white;
  box-shadow: 0 0.5px 1px #0001;
  image-rendering: pixelated;
}

