* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: system-ui;
  background: hsl(40 20% 90%);
  /* background: #282a36; */
  overflow: auto;
}

body::before,
body::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff8;
  border-radius: 0 0 1em;
}

body::after {
  right: 0;
  border-radius: 0 0 0 1em;
}

canvas.text {
  position: absolute;
  display: block;
  margin-inline: auto;
  background: white;
  border-radius: 1px;
  box-shadow: 0 1px 4px #0001;
  image-rendering: pixelated;
  animation: fadeIn 0.5s ease-in-out;
}

.canvas-layer {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}

.underlay {
  z-index: -1;
}

.overlay {
  z-index: 1000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
